.container {
  width: 100%;
  display: flex;
  position: relative;
  top:80px;
}

.left {
  width: 72%;
}

.right {
  width: 28%;
  padding-left: 1.2%;
}

.video {
  margin-left: 8%;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  object-fit: cover;
}

.adv {
  width: 80%;
  height: max-content;
  border-radius: 10px;
}

.cat{
    background-color: #e4e4e4 !important;
    color: #000000 !important;
   
}

.catetory {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 3% 0;
}

.item {
  margin: 2% 0;
  width: 80%;
  cursor: pointer;
  &:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.under {
  margin-left: 8%;
  h3 {
    margin: 1%;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  div p {
    color: #7c7c7c;
    font-size: 80%;
  }
  div:nth-of-type(2) {
    margin-left: 5px;
  }
  .btn {
    width: 80px;
    height: 34px;
    font-size: medium;
    margin-left: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.rightCard {
  display: flex;
  width: max-content;
  align-items: center;
  text-align: right;
  div {
    background-color: #e4e4e4;
    height: max-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-right: 10px;
    
  }
}

.containerCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.desciption {
  background-color: rgb(245, 245, 245);
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 3%;
}

.containerComment {
  width: 100%;
}
.middle {
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  > input {
    outline: none;
    border: none;
    margin-left: 2%;
    width: 96%;
    border-bottom: 0.5px solid rgb(219, 219, 219);
    :hover {
      border-bottom: 0.5px solid rgb(0, 0, 0);
    }
  }
}

.amount {
  margin-top: 5%;
  font-size: 110%;
  width: 20%;
  display: flex;
  align-items: center;
  color: #000000;
  justify-content: space-between;
  margin-bottom: 20px;
  div:last-of-type {
    font-weight: bolder;
    width: max-content;
  }
}

.comment {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  > div:first-of-type {
    width: 40px;
    height: 40px;
  }
  > div:last-of-type {
    width: 90%;
    margin-left: 2%;
    > div {
      margin-bottom: 10px;
      > span {
        margin-right: 2%;
      }
    }
  }
}

.nameComment{
    font-weight: bolder;
}

.time{
    font-size: 90%;
    color: #8a8a8a;
}

@media only screen and (max-width: 432px) {
  .catetory{display: none;}
 }
@media only screen and (max-width: 1000px) {
  .right{display: none;}
  .left{
    width: 98%;
    padding-right: 10px;
  }
 }
 @media only screen and (max-width: 1300px) {
  .rightCard div:nth-child(4){
    display: none;
  }
 }
 @media only screen and (max-width: 750px) {
  .rightCard div:nth-child(3){
    display: none;
  }
 }
 @media only screen and (max-width: 570px) {
  .rightCard div{
    font-size: 80%;
  }
  .iconn{
    font-size: 120% !important;
  }
  .btn{
    font-size: 90% !important;
    .rightCard div:nth-child(2){
      padding: 0 1%;
    }
  }
 }
 @media only screen and (max-width: 500px) {
  .containerCard{
    flex-direction: column;
  }
 }
 h3,h4{
  font-weight: bold;
 }
 .tag{
  width: 50%;
   font-family: "Roboto","Arial",sans-serif;
   font-size: 1.4rem;
   line-height: 2rem;
   font-weight: 500;
   overflow: hidden;
   display: block;
   max-height: 4rem;
   -webkit-line-clamp: 1;
   display: box;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
   white-space: normal;
 }

 @media only screen and (max-width: 300px) {
  
  h3{
    font-size: 90%;
  }
  h4{font-size: 76%;}
  .desciption{
    font-size: 80% !important;
  }
 .btn{
  position: absolute;
  left: 50%;
  width: 65px !important;
  height: 30px !important;
  font-size: 80% !important;
 }
  .amount{
    width: 80%;
    font-size: 80%;
    >div{width: 50%;}
  }
  .containerCard{
    margin: 3% 0; 
  }
 }

 .Comment{
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 500;
  overflow: hidden;
  display: block;
  max-height: 4rem;
  -webkit-line-clamp: 4;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-overflow: ellipsis;
 
 }