.headerContainer {
  top: 0;
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  z-index: 9999;
}
.img {
  height: 70px;
  display: flex;
  align-items: center;
}
.img img {
  height: 70px;
  cursor: pointer;
}

.img span {
  font-size: 0.5rem;
  position: relative;
  bottom: 5px;
  right: 3%;
  cursor: pointer;
}
.first {
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 25%;
}

.wrapC {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0  728px;
  height: 60%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.wrapC2 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 60%;
}

.wrap {
  border: 0.4px solid rgb(221, 221, 221);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 20px;
  flex: 0.8  ;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.wrapp {
  border: 0.4px solid #065fd4; 
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0 ;
  flex: 0.7996 ;
  display: flex;
  height: 100%;
  align-items: center;

}
.last {
  display: flex;
  align-items: center;
  font-size: 140%;
  width: 25%;
  justify-content: end;
  margin-right: 2%;
  span {
    &:nth-child(2) {
      margin: 0 2%;
    }
    justify-content: center;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: rgb(242, 243, 243);
    }
  }
}
.wrap2 {
  
  border: 0.4px solid #065fd4; 
  border-left: none;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  border: none;
  text-decoration: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 2% 0 ; 
}
.search2 {
  border: none;
  text-decoration: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 2% 0;
}

.searchIcon {
  color: rgb(158, 158, 158);
  justify-content: center;
  height: 100%;
  font-size: 130%;
  cursor: pointer;
  flex-grow: 0.05;
  border: 0.4px solid #065fd4; 
  border-right:none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display:flex;
  align-items: center;
}

.searchIcon2 {
  border: 0.4px solid rgb(221, 221, 221);
  border-left: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 50px;
  align-items: center;
  cursor: pointer;
  font-size: 140%;
  height: 100%;
  display: flex;
  color: rgb(0, 0, 0);
  background-color: rgb(247, 247, 247);
  justify-content: center;
  &:hover {
    background-color: rgb(226, 226, 226);
  }
}
.searchIcon4 {
  border: 0.4px solid rgb(221, 221, 221);
  border-left: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 8%;
  height: 38px !important;
  align-items: center;
  cursor: pointer;
  font-size: 140%;
  height: 100% !important;
  display: flex;
  color: rgb(0, 0, 0);
  background-color: rgb(247, 247, 247);
  justify-content: center;
}
.searchIcon4:hover {
  background-color: rgb(226, 226, 226);
}

.mic {
  background-color: rgba(241, 241, 241, 0.733);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 120%;
  cursor: pointer;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba(219, 218, 218, 0.733);
  }
}
.mic2 {
  background-color: rgba(241, 241, 241, 0.733);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 120%;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mic2:hover {
  background-color: rgba(219, 218, 218, 0.733);
  font-size: 130%;
}



.menu {
  cursor: pointer;
  font-size: large;
  display: block;
}

.keyboard {
  display: flex;
  align-items: center;
  width: 30px;
  font-size: 125%;
  color: rgb(95, 95, 95);
}
.keyboard2 {
  display: flex;
  align-items: center;
  width: 30px;
  font-size: 125%;
  color: rgb(95, 95, 95);
}

.modal {
  border-radius: 10px;
  padding: 3px;
  width: 160px;
  height: 80px;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 10px;
  z-index: 9999;
}

.modal div {
  z-index: 999;
  margin: 0 auto;
  justify-content: space-between;
  width: 90%;
  display: flex;
  align-items: center;
  span {
    width: 90%;
    margin-left: 5px;
  }
}

.iconModal {
  font-size: 190%;
}

.modal2 {
  width: 500px;
  height: 600px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  > div:first-of-type {
    margin: 2% auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  > div:last-of-type {
    width: 100%;
    border-top: 0.5px solid rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal3 {
  width: 330px;
  height: max-content;
  background-color: white;
  position: relative;
  right: 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  > div:first-of-type {
    display: flex;
    padding: 5% 5% 0;
    justify-content: space-between;
    height: max-content;
    border-bottom: 0.5px solid rgb(209, 209, 209);
    > div {
      width: 80%;
      display: flex;
      flex-direction: column;
      p:nth-child(2) {
        margin-top: -18px;
      }
      p:nth-child(3) {
        cursor: pointer;
        font-size: 90%;
        color: rgba(42, 127, 255, 0.973);
      }
    }
  }
}

.menuIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

.first2 {
  margin-left: 27px;
  margin-top: -17px;
  width: 169px;
  display: flex;
  align-items: center;
  height: 87px !important;
  > img {
    margin-left: 10px;
  }
}

.ac {
  border-bottom: 0.5px solid rgb(209, 209, 209);
  width: 100%;
  padding: 3% 0;
  font-size: 96%;
  > div {
    &:hover {
      background-color: rgb(230, 230, 230);
    }
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 6%;
    cursor: pointer;
  }
}

.searchIcon3 {
  width: 40%;
  font-size: 140%;
  text-align: end;
}
@media only screen and (max-width: 1200px) {
  .searchIcon,
  .keyboard {
    width: 30px;
  }
  .searchIcon2 {
    width: 40px;
  }
}
@media only screen and (max-width: 700px) {
  .search {
    width: 50%;
  }
}
@media only screen and (max-width: 660px) {
  .search {
    width: 20%;
  }
}
@media only screen and (max-width: 626px) {
  .search {
    width: 15%;
  }
  .keyboard {
    width: max-content;
  }
}
@media only screen and (max-width: 560px) {
  .search {
    width: 5%;
  }
  .keyboard {
    width: max-content;
  }
  .last {
    width: 40%;
  }
}

.admin {
  color: #065fd4 !important;
  margin-right: 4px;
}
@media only screen and (max-width: 440px) {
  .img img{
  height: 52% ;
  }
}
@media only screen and (max-width: 370px) {
  .img {
  display: none;
  }
}
@media only screen and (max-width: 300px) {
  
  .searchIcon4 {
    font-size: 90%;
  }
  .mic2 {
    font-size: 90%;
    margin-left: 4%;
  }
  .searchIcon {
    font-size: 90%;
  }
  .wrapC2 {
    width: 100%;
  }
  .container2 {
    width: 100% !important;
    top: 0 !important;
  }
}
