body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.css-m9babb-MuiPaper-root-MuiCard-root img:hover {
  transform: scale(3, 3);
}

.slick-next::before {
  color: rgb(196, 196, 196) !important;
  background-color: rgb(253, 252, 252);
  display: none;
}
.slick-prev::before {
  color: rgb(196, 196, 196) !important;
  display: none;
  background-color: rgb(253, 252, 252);
}
.slick-track {
  display: flex !important;
  width: max-content !important;
}
.slick-slider:hover .slick-next::before {
  display: inline-block;
}
.slick-slider:hover .slick-prev::before {
  display: inline-block;
}

.slick-slide {
  width: 80% !important;
}
@media only screen and (max-width: 760px) {
  .slick-slider {
    width: 90% !important;
    left: 4%;
  }
}
@media only screen and (max-width: 1480px) {
  .slick-next::before,
  .slick-prev::before {
    display: inline-block !important;
  }
}
@media only screen and (max-width: 300px) {
  .slick-next::before,
  .slick-prev::before {
    display: none !important;
  }
}

#simple-popper {
  z-index: 99999;
}

#btn {
  color: #065fd4 !important;
  font-size: 90% !important;
  font-weight: bold !important;
  border-color: rgb(218, 218, 218) !important;
  border-radius: 20px !important;
}
.MuiFormControlLabel-label {
  color: #065fd4 !important;
  font-weight: 700;
}
@media only screen and (max-width: 300px) {
  .MuiFormControlLabel-label {
    font-size: 94% !important;
  }
  .MuiCollapse-root {
    font-size: 12px;
  }
}
.progess_unbox__lu2ao{
color: red !important;
}
