.container {
  margin: 0 auto;
  width: 120%;
  position: absolute;
  top: 160px;
  left: 440px;
  cursor: pointer;
  flex-wrap: wrap;
  > div {
    width: 24%;
  }
}
.link {
  text-decoration: none;
}

.wrapper {
  display: flex;
  width: 55% !important;
  height: 220px;
  align-items: center;
}

.imgs {
  width: max-content;
  height: max-content;
}

.img {
  border-radius: 15px;
}

.right {
  width: 60%;
  margin-left: 2%;
  height: 190px;
}

.title {
  font-size: 120%;
  font-weight: bold;
}

.view {
  font-size: 80%;
  color: rgb(73, 73, 73);
}
.channel {
  color: rgb(109, 109, 109);
  display: flex;
  align-items: center;
  margin: 2% 0;
  > span:first-of-type {
    margin: 0 2%;
  }
  > span:last-of-type {
    width: 15px;
    height: 15px;
    color: white;
    display: flex;
    align-items: center;
    background-color: rgb(100, 100, 100);
    border-radius: 50%;
  }
}
.channel div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.des {
  color: rgb(104, 104, 104);
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 43px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new {
  width: 5%;
  font-size: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: rgb(230, 230, 230);
  color: rgb(87, 87, 87);
}

@media only screen and (max-width: 400px) {
  .container{
    top:160px;
    left: 0;
    width: 100%;
  }
  .wrapper{
    flex-direction: column;
    width: 90% !important;
    margin: 0 auto;
  }
  .imgs{width: 90% !important;}
  .right{display: none;}
.img{
  width: 100%;
}
 }