.container {
  width: 100%;
  position: relative;
  padding: 100px 4% 0 26%;
}

.title {
  line-height: 1.8rem;
  overflow: hidden;
  display: block;
  max-height: 3.6rem;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.video {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
  border-radius: 15px;
}

@media only screen and (max-width: 760px) {
  .container {
    padding: 100px 1% 0;
  }
  .right {
    width: 40% !important;
  }
}
@media only screen and (max-width: 1150px) {
  .videoContainer{
    width: 400px !important;
  }
.right{
  width: 30% !important;
}
}
@media only screen and (max-width: 400px) {
  .videoContainer{
    height:  140px !important;
  }

}
@media only screen and (max-width: 650px) {
  .videoContainer{
    width: 90% !important;
  }
  .wrap {
    justify-content: center !important;
    flex-direction: column;
    align-items: center !important;
    padding: 5% 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .right {
    width: 100% !important;
  }
  .img {
    width: 90% !important ;
    height: 90% !important;
  }
}


